.tracking-in-expand-fwd-top {
    -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

.image {
    position: relative;
}

.heading-four-under-text {
    margin-bottom: 5px;
    text-align: center;
}

.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    transition: 0.6s;
}

.content p {
    margin: 0;
    font-size: 14px;
}

.content h4 {
    margin-bottom: 0;
    font-size: 20px;
}

.content a {
    margin-top: 10px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 15.672px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.672px;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 12px;
    padding: 6px 0;
}

.content:hover {
    opacity: 1;
}

.content>* {
    transform: translateY(5px);
    transition: all 0.6s ease-in-out;
}

.content1:hover>* {
    transform: translateY(0px);
}

/* styles for slider */
.slider {
    width: 380px;
    height: 410px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}

.slider-line {
    position: relative;
    display: flex;
    gap: 10px;

}

.slider img {
    max-width: 500px;
    width: 100%;
}


.prev-button,
.next-button {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 6px solid #fff;
    color: #fff;
    position: absolute;
    margin-top: 45%;
    z-index: 1000;
    left: -120px;
    font-size: 1rem;
    line-height: 2rem;
    box-shadow: 3px 3px 3px #000;
    background-color: transparent;
}

.prev-button:active,
.next-button:active {
    background: #c0c0c0;
}

.next-button {
    left: auto;
    right: -130px;
}

/* styles for animations */
.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    background-color: #000000c5;
    z-index: 10000;

}

.fixed .menu a {
    color: #FFF
}