@import url('nextstyles.css');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #000;
    font-family: 'Inter';
}


/* Стилизация header */
.header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 115vh;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 20px;
}

.navigation a {
    color: white;
    text-decoration: none;
    color: #848895;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.navigation a:nth-child(2) {
    margin: 0 28px;
}

.menu {
    margin-top: 9px;
}

.navigation img {
    width: 228px;
}

.navigation a:hover {
    background: -o-radial-gradient(50% 50%, 343.88% 97.53%, #BF8836 0%, #F2DE8A 100%);
    background: radial-gradient(343.88% 97.53% at 50% 50%, #BF8836 0%, #F2DE8A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Стили для ссылки оптовый прайс */
.special-price {
    /* text-align: center;
    padding-top: 610px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 97vh;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.price-link {
    border-radius: 24px;
    background: #000;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 18px;
}

.price-link:hover {
    background: -o-radial-gradient(50% 50%, 343.88% 97.53%, #BF8836 0%, #F2DE8A 100%);
    background: radial-gradient(343.88% 97.53% at 50% 50%, #BF8836 0%, #F2DE8A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Стилизация section-1 */
.image-1 {
    width: 380px;
}

.container-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
}



.coffee-bg {
    border-radius: 12px;
    background-image: url(../img/bg-coffee.png);
    text-align: center;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    max-width: 1240px;
    background-color: #242323;
    background-blend-mode: screen;
}

.quality-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.coffee-bg-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.quality {
    margin-top: 60px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;

}

.about-quality {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;

}

/* Стилизация Section-2 */
.coffee-bg-2 {
    border-radius: 12px;
    background-image: url(../img/cup-of-cof-bg.png);
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: #141414;
    background-blend-mode: screen;
    max-width: 1240px;
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}

.coffee-bg-control {
    margin-top: 20px;
}

.paragraph-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 70vh;
    margin-left: 50px;
}

.self-proud {
    text-transform: uppercase;
    color: #FFF;
    font-size: 24px;
}

.text-of-self {
    color: #FFF;
}

.space-top {
    margin-top: 60px;
}

.contact-us {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #FFF;
    padding: 10px 50px;
}

.contact-us:hover {
    background: -o-radial-gradient(50% 50%, 343.88% 97.53%, #BF8836 0%, #F2DE8A 100%);
    background: radial-gradient(343.88% 97.53% at 50% 50%, #BF8836 0%, #F2DE8A 100%);
    color: #000;
}

.contact-us-content {
    margin-top: 63px;
}

/* Стилизация Section-3 */
.bg-making-coffee {
    border-radius: 12px;
    background-image: url(../img/process-coffee-making.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    background-position: center;
    max-width: 1240px;

}

.paragraph-control-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    min-height: 80vh;
    margin-right: 30px;
}

.benefit-price {
    text-transform: uppercase;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}

.text-price {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

/* Video */
#videoCoffee {
    width: 60%;
    height: auto;
    border-radius: 12px;
}

.video-position {
    margin: 20px 0;
    text-align: center;
}


/* Cta section */
.cta-bg-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cta-bg {
    border-radius: 12px;
    background: rgba(25, 22, 28, 0.80);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    min-height: 60vh;
    width: 1240px;

}

.get-price {
    padding-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}

.suggest-for-corp {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}

.subtitle-suggest {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.input {
    border-radius: 12px;
    border: 1.269px solid rgba(255, 255, 255, 0.10);
    background: #19161C;
    margin-bottom: 25px;
    width: 80%;
    padding: 6px 0 6px 10px;
}

.my-btn {
    border-radius: 12px;
    border: 1.269px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    background: transparent;
    width: 80%;
    padding: 6px 0;
}

.my-btn:hover {
    background: -o-radial-gradient(50% 50%, 343.88% 97.53%, #BF8836 0%, #F2DE8A 100%);
    background: radial-gradient(343.88% 97.53% at 50% 50%, #BF8836 0%, #F2DE8A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input::-webkit-input-placeholder {
    text-align: center;
}

.input::-moz-placeholder {
    text-align: center;
}

.input:-ms-input-placeholder {
    text-align: center;
}

.input::-ms-input-placeholder {
    text-align: center;
}

.input::placeholder {
    text-align: center;
}

.input {
    color: #FFF;
}

span {
    color: rgba(248, 228, 190, 0.80);
}

.beans-left {
    width: 200px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.beans-right {
    width: 200px;
    position: absolute;
    right: 200px;
    top: 150px;
}

.footer-icon:hover {
    opacity: 0;
}

.footer-link:hover {
    background-image: url(../icons/arrow-up-circle-fill.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    display: inline-block;
}




/* медиа запросы */
@media (max-width: 1184px) {
    .coffee-bg {
        background-position: 30% 20%;
    }
}

@media (max-width: 1149px) {
    .slider {
        overflow: hidden;
    }

    .prev-button {
        left: 20px;
    }

    .next-button {
        right: 10px;
    }

    .contact-us-content {
        margin-bottom: 50px;
    }

}

@media (max-width: 1065px) {

    .beans-left,
    .beans-right {
        display: none;
    }
}

@media (max-width: 945px) {
    .coffee-bg-2 {
        background-position: 55% 75%;
    }
}

@media (max-width: 730px) {
    .footer-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 623px) {

    .navigation {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .text-of-self {
        font-size: 17px;
    }

    .contact-us {
        color: #BF8836;
        border: 1px solid #000;
    }
}

@media (max-width: 575px) {
    #form {
        padding-left: 80px;
    }

    .bg-making-coffee {
        background-position: 55% 75%;
    }

    .text-price {
        font-size: 17px;
    }
}

@media (max-width: 569px) {
    .about-quality p {
        line-height: 15px;
        font-size: 17px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .quality {
        margin-top: 30px;
    }
}

@media (max-width: 551px) {
    .suggest-for-corp {
        margin-bottom: 1px;
        text-align: center;
    }

    .subtitle-suggest {
        text-align: center;
        margin-bottom: 0;
    }

    #form {
        margin-bottom: 50px;
    }
}

@media (max-width: 532px) {
    .header {
        background-size: cover;
        background-position: 50% 20%;
        min-height: 0;
    }

    .space-top {
        text-align: center;
    }

    .paragraph-control {
        margin-left: 10px;
        padding-left: 5px;
        padding-right: 15px;
    }

    .text-of-self {
        padding-left: 10px;
        padding-right: 10px;
    }

    .contact-us {
        display: inline-block;
        width: 100%;
    }

    .special-price {
        min-height: 38vh;
    }

    .suggest-for-corp {
        font-size: 20px;
    }

    .subtitle-suggest {
        font-size: 17px;
    }

    #form {
        padding: 15px;
    }

    .input,
    .my-btn {
        width: 100%;
    }
}

@media (max-width:531px) {

    .special-price {
        min-height: 40vh;
        padding-bottom: 15px;
    }
}

@media (max-width: 530px) {

    .navigation {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .menu {
        display: none;
    }
}

@media (max-width: 529px) {
    .navigation {
        padding-top: 20px;
    }
}