* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000;
    ;
}


/* Стилизация header */
.header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 115vh;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    padding-top: 20px;
}

.navigation a {
    color: white;
    text-decoration: none;
    color: #848895;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
}

.navigation a:nth-child(2) {
    margin: 0 28px;
}

.menu {
    margin-top: 9px;
}

.navigation img {
    width: 228px;
}

.navigation a:hover {
    background: radial-gradient(343.88% 97.53% at 50% 50%, #BF8836 0%, #F2DE8A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Стили для ссылки оптовый прайс */
.special-price {
    text-align: center;
    padding-top: 610px;
}

.price-link {
    border-radius: 24px;
    background: #000;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 18px;
}
.price-link:hover {
    background: radial-gradient(343.88% 97.53% at 50% 50%, #BF8836 0%, #F2DE8A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Стилизация section-1 */
.container-1 img {
    width: 380px;
}

.container-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 42px;
}



.coffee-bg {
    border-radius: 12px;
    background-image: url(../img/bg-coffee.png);
    filter: contrast(3);
    filter: brightness(1);
    text-align: center;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    max-width: 1240px;    
    margin-top: 42px;

}
.coffee-bg-control {
    display: flex;
    justify-content: center;
}
.quality {
    margin-top: 60px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}

.about-quality {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    margin-left: 105px;
    margin-right: 105px;
}






















@media (max-width: 623px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 8px;
    }

    .special-price {
        padding-top: 575px;
    }

}

@media (max-width: 530px) {
    .navigation {
        align-items: center;
        padding-top: 50px;
    }

    .special-price {
        padding-top: 580px;
    }

    .menu {
        display: none;
    }


}